body {
  background: white;
  font-family: "Edu NSW ACT Foundation", cursive;
  background-attachment: fixed;
  background-size: cover;
}

.overview {
  position: relative;
  line-height: 1;
  top: 50px;
}

h1 {
  position: relative;
  color: black;
  font-size: 30px;
  text-align: left;
  left: 40px;
}

h2 {
  color: #7c7c7c;
  font-size: 20px;
  left: 100px;
  text-align: left;
}

form {
  position: absolute;
  top: 110px;
  left: 370px;
}

.container {
  display: flex;
  justify-content: center;
  /* Center the content horizontally */
  align-items: center;
  /* Center the content vertically */
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 80px 350px;
  /* Center the container in the page */
  text-align: center;

  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 15px 5px rgb(0 0 0 / 20%);
}

.temperature,
.units {
  color: black;
  position: relative;
  font-weight: 300;
  line-height: 2;
}

.sun {
  position: relative;
  left: 32px;
  bottom: -10px;
  height: 64px;
  width: 64px;
}

.images {
  position: relative;
  top: 45px;
  width: 64px;
  height: 64px;
  left: -10px;
}

ul {
  list-style: none;
}

.footer {
  font-size: 10px;
  top: 480px;
  left: 45px;
  color: black;
  text-decoration: underline;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.temperature {
  position: relative;
  font-size: 40px;
  top: 35px;
  left: 20px;
}

.units {
  position: relative;
  font-size: 17px;
  top: -30px;
  left: 80px;
}

.current-weather {
  top: 15px;
  left: -240px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-forecast-date {
  position: relative;
  font-size: 18px;
  left: 30px;
  top: 10px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  position: relative;
  font-size: 13px;
  top: 10px;
  left: 35px;
}
